{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		{% for link in links %}
			<div class="linkCard col-md-4">
			    <h2 class="text-center" >
					<a class="linkTitle text-dark text-center " href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a>
				</h2>
			    <p>{{ link.desc }}</p>
			    <a class="btn btn-dark align-self-center " href="{{ link.url }}" title="" target="_blank">Ouvrir</a>
			    <em>(by {{ link.user.username }})</em>

			    {% for tag in link.tags %}
					<span>
						Filtres:
					<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
			    		 {{ tag.title }}
			    	</a>
					</span>

			    {% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
