{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		{% for link in links %}
			<div class="linkCard col-md-4 p-4">
			    <h2 class="text-center" >
					<a class="linkTitle text-dark text-center " href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a>
				</h2>
			    <p>{{ link.desc }}</p>

				<div class="d-flex justify-content-center row align-items-center" >
					<em class="align-self-end">(Par : <span class="fw-bold" >{{ link.user.username }}</span>)</em>
					<span class="my-2" >
						Filtres:

						{% for tag in link.tags %}
							<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">{{ tag.title }}</a>
						{% endfor %}
					</span>
					<a class="btn btn-dark w-25 align-self-center mt-1 " href="{{ link.url }}" title="" target="_blank">Ouvrir</a>
				</div>

			</div>
		{% endfor %}
	</div>
{% endblock %}
