<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
    <title>Watson - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo" href="{{ path('home') }}">
                    <!-- ajout d'un span pour rendre le texte "Watson" caché visuellement-->
                    <span class="sr-only">Watson</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="nav-item {% if adminMenu is defined %}active{% endif %}">
                            <!-- Menu Administration -->
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear"></i> Administration
                            </a>
                            <!-- Ajout style pour le menu déroulant  -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin" style="top: 100%; margin-top: var(--bs-dropdown-spacer); left: auto !important;">
                                <!-- Lien vers la page d'administration -->
                                <li><a class="dropdown-item" href="{{ path('admin') }}">Administration</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_link_add') }}">Ajout d'un lien</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_user_add') }}">Ajout d'un utilisateur</a></li>

                            </ul>
                        </li>
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <!-- Menu Utilisateur connecté -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person"></i> Welcome, {{ app.user.username }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                                    <!-- Lien pour déconnexion -->
                                    <li><a class="dropdown-item" href="{{ path('logout') }}">Log out</a></li>
                                </ul>
                            </li>
                        {% endif %}
                            {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!-- Ajout icone pour la connexion  -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person me-2" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                    </svg>
                                    Not connected
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('login') }}">Log in</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Main Content -->
        <div id="content">{% block content %}{% endblock %}</div>
        
        <!-- Footer -->
        <footer class="footer text-center mt-5">
            Watson - Made with love by CvTIC and his students
        </footer>
    </div>

    <!-- Bootstrap 5 JS Bundle (includes Popper.js) -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
