{% extends "layout.html.twig" %}

{% block title %}{{ link.title }}{% endblock %}

{% block content %}
    <h1 class="h1 text-center" >{{ link.title }}</h1>
    <p class="fst-italic lead" >{{ link.desc }}</p>

    <div class="d-flex justify-content-center row align-items-center" >
    <span class="my-2" >
        {% for tag in link.tags %}
            <a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
                {{ tag.title }}
            </a>
        {% endfor %}
    </span>
        <a class="btn btn-dark w-25 align-self-center mt-1 " href="{{ link.url }}" title="" target="_blank">Ouvrir</a>
    </div>
    <em>(Par : <span class="fw-bold"> {{ link.user.username }}</span>)</em>

{% endblock %}
